body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: pink;
}
.yoobee {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.place-holders input {
  border-radius: 5px;
}
.place-holders {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-top: 35px;
}
